@import "./styles/tree-map";

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;

  * {
    box-sizing: border-box;
  }
}

#app {
  width: 100vw;
  height: 100vh;

  .tree-map {
    width: 100%;
    height: 100%;
    background: grey;
  }
}
